body {
    background: black;
}

.sidebar-nav {
    list-style: none;
    width: 300px;
}

.sidebar-nav a {
    color: lightgray;
    text-decoration: none;
    display: inline-block;
    background: #fff;
    margin-bottom: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    text-transform: uppercase;
}

.sidebar-nav li.active a {
    width: 100%;
    color: lightskyblue;
}
.sidebar-nav li:before {

    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 86.6px;
    border-color: transparent transparent transparent #007bff;
}
/*
.sidebar-nav li:hover a {
    width: 100%;
    color: lightskyblue;
}*/
